@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat/Montserrat-Regular.ttf')
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto/Roboto-Light.ttf')
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/montserrat/Montserrat-Bold.ttf')
}
